extends layout

block content
  .container
  h1= title
  a.btn.btn-primary(href='/products/addProduct') Add Product
  
  table.table.table-hover
    thead
      tr
        th Name
        th Description
        th Price
    tbody#productList
      script
        //- console.log(products, "products");
      each product in products
        script
          //- console.log(product);
        tr(data-id=product._id)
          td= product.name
          td= product.description
          td.price= '$'+parseFloat(product.price).toFixed(2)
  span Grand Total: 
  span#total
  hr
  .form-group
    label(for='name') Filter by name
    input#name.form-control(type="text", placeholder="Name")
    button.btn.btn-warning#nameGo Go
  .form-group
    label(for='category') Filter by category
    input#category.form-control(type="text", placeholder="Category")
    button.btn.btn-warning#categoryGo Go
  .form-group
    label(for='price') Filter by price
    input#price.form-control(type="number", placeholder="Price", min="0.00")
    button.btn.btn-success.priceGo#gt Greater Than
    button.btn.btn-danger.priceGo#lt Less Than
  
  hr
  span Hold shift and click to reverse the sort order
  hr
  button.btn.btn-danger#sortName Sort by name
  button.btn.btn-danger#sortCategory Sort by category
  button.btn.btn-danger#sortDate Sort by date

  hr
  a.btn.btn-success(href='/') Show All

block scripts
  script(src='/js/main.js')

