extends layout

block content
  .container
  h1= title
  h3= subTitle
  a.btn.btn-primary(href='/products/addProduct') Add Product
  
  table.table.table-hover
    thead
      tr
        th Name
        th Description
        th Category
        th Price
    tbody#productList      
      each product in products
        tr(data-id=product._id)
          td= product.name
          td= product.description
          td= product.category
          td.price= '$'+parseFloat(product.price).toFixed(2)
  span Total: 
  span#total
  hr
  .row
    .form-group.col-sm-4.col-xs-8
      label(for='name') Filter by name
      input#name.form-control(type="text", placeholder="Name")
      button.btn.btn-info#nameGo Go
    .form-group.col-sm-4.col-xs-8
      label(for='category') Filter by category
      input#category.form-control(type="text", placeholder="Category")
      button.btn.btn-warning#categoryGo Go
    .form-group.col-sm-4.col-xs-8
      label(for='price') Filter by price
      input#price.form-control(type="number", placeholder="Price", min="0.00")
      button.btn.btn-success.priceGo#gt Greater Than
      button.btn.btn-danger.priceGo#lt Less Than
  
  hr
  span Hold shift and click to reverse the sort order
  hr
  .sortdiv.row
    .col-xs-2 Sort by:
    button.btn.btn-primary.sort#sortname name
    button.btn.btn-warning.sort#sortcategory category
    button.btn.btn-success.sort#sortpurchase purchase by
    button.btn.btn-danger.sort#sortadded added at

  hr
  a.btn.btn-success(href='/') Show All
  button.btn.btn-danger#removeAll Remove All

block scripts
  script(src='/js/main.js')

