extends layout

block content
  .container
  h1= title
  a.btn.btn-primary(href='/products/addProduct') Add Product
  
  table.table.table-hover
    thead
      tr
        th Name
        th Description
        th Price
    tbody#productList
      script
        //- console.log(products, "products");
      each product in products
        script
          //- console.log(product);
        tr(data-id=product._id)
          td= product.name
          td= product.description
          td.price= '$'+parseFloat(product.price).toFixed(2)
  span Grand Total: 
  span#total
  hr
  label(for='name') Filter by name
  input#name.form-control(type="text", placeholder="Name")
  button.btn.btn-warning#nameGo Go
  hr
  a.btn.btn-success(href='/') Show All

block scripts
  script(src='/js/main.js')

