extends layout

block content
  .container
  h1= title
  a.btn.btn-primary(href='/products/addProduct') Add Product
  
  table.table.table-hover
    thead
      tr
        th Name
        th Description
        th Price
    tbody#productList
      script
        //- console.log(products, "products");
      each product in products
        script
          //- console.log(product);
        tr(data-id=product._id)
          td= product.name
          td= product.description
          td.price= product.price
  span Grand Total: 
  span#total

block scripts
  script(src='/js/main.js')
  //- script(src='/js/productIndex.js')

