extends layout

block content
  .container
  h1= title
  .jumbotron.text-center
    h1= "Name: " + product.name
  h2= "Description: " + product.description
  h2= "Price: " + '$'+parseFloat(product.price).toFixed(2)
  h2= "Added at: " + product.addedAt
  h2= "Purchase by: " + product.purchaseBy
  h2= "Category: " + product.category  
  h2 Image:
  img(src=product.imageurl, alt="")
  hr
  a.btn.btn-primary(href='/') Back
  button.btn.btn-danger#remove(data-id=id) Remove Product
  hr
  hr
  hr

  h3 Edit Product:
  .form-group
    label(for='name') Name
    input#name.form-control(type="text", value=product.name)
  .form-group  
    label(for='description') Description
    input#description.form-control(type="text", value=product.description)
  .form-group  
    label(for='price') Price
    input#price.form-control(type="number", value=product.price, min="0.00", step="0.01")
  
  .form-group  
    label(for='purchaseBy') Purchase by
    input#purchaseBy.form-control(type="date", value=product.purchaseBy)
  .form-group  
    label(for='imageurl') ImageUrl
    input#imageurl.form-control(type="text", value=product.imageurl)
  .form-group  
    label(for='category') Category
    input#category.form-control(type="text", value=product.category)
  
  a.btn.btn-primary(href='/') Back
  button.btn.btn-warning#edit(data-id=id) Confirm Edit

  
block scripts
  script(src='/js/showpage.js')

